body {
    background-color: #F8F7F4;
    font-family: 'Josefin Sans', sans-serif;
    color: #7f5539;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#intro {
    height: 90%;
    width: 100%;
    display: flex;
    flex-direction: column;
    /* border: 1px solid blue; */
}

header {
    height: 100vh;
    width: 100%;
    line-height: 1.2;
    color: #7f5539;
    /* border: 1px solid red; */
}


img {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    float: right;
    /* border: 10px solid #a4ac86; */
}

span {
    color: #ffbf88;
    font-size: 8vh;
}

h2 {
    margin-top: 20px;
}

p {
    font-size: medium;
    line-height: 1.5;
}

ul {
    background-color: #a4ac86;
    text-align: center;
    height: 4vh;
}

li {
    display: inline;
    padding: 0 50px 0 50px;
}

a {
    color: white;
    text-decoration: none;
}

footer {
    background-color: #a4ac86;
    font-family: 'Josefin Sans', sans-serif;
    color: white;
}

#footer-bar {
    height: 2vh;
}

.page {
    height: 100vh;
}

#about {
    padding: 0 10vw 0 10vw;
}

/* add hover animation to make the arrow bounce */
#home-arrow {
    color: #ffbf88;
    text-align: center;
    display: block;
    font-size: xx-large;
    animation-name: arrow;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    /* border: 1px solid rebeccapurple; */
}

@keyframes arrow {
    0% {

    }

    50% {

    }

    100% {
        
    }
}

#about-info {
    color: black;
}

#greeting-card {
    margin: auto;
    display: flex;
    width: 80%;
    align-items: center;
    justify-content: space-between;
    /* border: 1px solid green; */
    /* border: 1px solid rosybrown; */
}

#skills-toolkit {
    display: grid;
    grid-template-columns: 1fr 1fr;
    text-align: center;
}

#resume {
    text-align: center;
}

#projects {
    text-align: center;
}

#resume-link {
    color: #7f5539;
}

/* testing*/
/* add a walking animation of pixelated self at the top or somewhere */