body {
    background-color: #F8F7F4;
    font-family: 'Josefin Sans', sans-serif;
    color: #7f5539;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

header {
    height: 100vh;
    line-height: 1.2;
    padding: 30vh 20vh 0 20vh;
    color: #7f5539;
    flex-wrap: wrap;
}


img {
    width: 20vw;
    border-radius: 50%;
    float: right;
    border: 10px solid #a4ac86;
}

span {
    color: #a4ac86;
    font-size: 8vh;
}

h2 {
    margin-top: 20px;
}

p {
    font-size: medium;
    line-height: 1.5;
}

ul {
    background-color: #a4ac86;
    text-align: center;
    height: 4vh;
}

li {
    display: inline;
    padding: 0 50px 0 50px;
}

a {
    color: white;
    text-decoration: none;
}

footer {
    background-color: #a4ac86;
    font-family: 'Josefin Sans', sans-serif;
    color: white;
}

#footer-bar {
    height: 2vh;
}

#about {
    height: 100vh;
    padding: 0 10vw 0 10vw;
}

#home-arrow {
    color: #7f5539;
    position: relative;
    top: 30%;
    left: 50%;
    font-size: xx-large;
}

#about-info {
    color: black;
}